header {
  background: url(../assets/Layer7.png) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 800px;

  nav {
    height: 160px;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-weight: bold;
    color: $textcolortitle;
    margin-left: auto;
    margin-right: auto;

    a {
      text-transform: uppercase;
      margin: 20px;
    }
    .dot {
      margin-top: 22px;
      width: 10px;
      height: 10px;
    }
  }
}
