$textcolortitle: #555555;
$textcolor: #777777;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 1600px;
}

p {
  line-height: 200%;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  color: $textcolortitle;
  font-size: 25px;
  margin: 20px;
}

header {
  nav {
    height: 800px;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-weight: bold;
    color: $textcolortitle;

    margin: 0 auto;

    a {
      text-transform: uppercase;
      margin: 20px;
    }
  }

  .back {
    position: absolute;
    top: 0px;
    z-index: -99;
  }
}

.heading {
  margin: 80px;
  text-align: center;
  p {
    color: $textcolor;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
}

.content {
  display: flex;

  .card {
    text-align: center;

    .icon {
      margin: 30px;
    }

    h2 {
      text-transform: uppercase;
      color: $textcolortitle;
      margin: 20px;
    }

    .picturewitharrow {
      position: relative;

      div {
        position: absolute;
        top: 0px;
      }
    }

    .arrow {
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;

      border-top: 20px solid #f00;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
